{% extends "survey/survey.html" %}

{% block title %}Ballot #{{ ballots.number }} - {{ survey.title }}{% endblock %}

{% block content %}
<div data-role="header">
  <h1>Ballot #{{ ballots.number }} for {{ survey.title }}</h1>
</div>
<div id="navbuttons">
  {% if ballots.has_previous %}
    <a href="?page={{ ballots.previous_page_number }}">Previous</a>
  {% endif %}
  {% if ballots.has_next %}
    <a href="?page={{ ballots.next_page_number }}">Next</a>
  {% endif %}
</div>
<div data-role="content">
  {% for ballot in ballots %}
    {% for question, choices in ballot.question_list %}
      {% if question.type == 'TB' %}
        <label for="q{{ question.pk }}">{{ question }}</label>
        <input type="text" name="q{{ question.pk }}" id="q{{ question.pk }}" value="{% firstof choices.0.1 '' %}" />
      {% endif %}
      
      {% if question.type == 'TA' %}
        <label for="q{{ question.pk }}">{{ question }}</label>
        <textarea id="q{{ question.pk }}" name="q{{ question.pk }}">{% firstof choices.0.1 '' %}</textarea>
      {% endif %}
      
      {% if question.type == 'RA' %}
        <fieldset data-role="controlgroup">
          <legend>{{ question }}</legend>
            {% for choice, answer in choices %}
              <input type="radio" id="c{{ choice.pk }}" name="q{{ question.pk }}" value="c{{ choice.pk }}" {% if answer %}checked="checked"{% endif %} />
              <label for="c{{ choice.pk }}">{{ choice }}</label>
            {% endfor %}
        </fieldset>
      {% endif %}
      
      {% if question.type == 'CH' %}
        <div data-role="controlgroup">
          <legend>{{ question }}</legend>
            {% for choice, answer in choices %}
              <input type="checkbox" name="q{{ question.pk }}" id="c{{ choice.pk }}" value="c{{ choice.pk }}" {% if answer %}checked="checked"{% endif %} />
              <label for="c{{ choice.pk }}">{{ choice }}</label>
            {% endfor %}
        </div>
      {% endif %}
      
      {% if question.type == 'DD' %}
        <label for="c{{ choice.pk }}" class="select">{{ question }}</label>
        <select id="c{{ choice.pk }}" name="q{{ question.pk }}">
          <option>Select one</option>
          {% for choice, answer in choices %}
            <option value="c{{ choice.pk }}" {% if answer %}selected="selected"{% endif %}>{{ choice }}</option>
          {% endfor %}
        </select>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}
