{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    {% block css %}
      <link rel="shortcut icon" href='{% static "img/favicon.ico" %}' />
      <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.8.23.custom.css' %}" />
    {% endblock %}
        <script type="text/javascript">
            STATIC_URL="{{ STATIC_URL }}";
        </script>
    {% block javascript %}
      <script type='text/javascript' src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
      <script type='text/javascript' src='{% static "js/jquery-ui-1.8.23.custom.min.js" %}'></script>
    {% endblock %}
    <title>{% block title %}Survey{% endblock %}</title>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="wrapper"/>
      {% block body %}
        {% block content %}{% endblock %}
      {% endblock %}
      {% block footer %}{% endblock %}
    </div>
  </body>
</html>
