{% extends "survey/base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/collapse.css' %}" type="text/css" media="screen, projection" />
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type='text/javascript' src="{% static 'js/collapse.js' %}"></script>
<script type='text/javascript'>
  $(function(){
    $( ".accordion" ).collapser(true); 
  });
</script>
{% endblock %}

{% block body %}
<header><img src='{% static "img/logo.png" %}' alt='' /></header>
<div id='same-height-wrapper' class='group'>
  <div id='sidebar-wrapper'>
    <h3 id='surveys-header'>{% trans "SURVEYS" %}
    <a class='new-button' href='{% url newsurvey %}'><img src='{% static "img/newbutton.png" %}' alt='' /></a>
    </h3>
    <div id='sidebar'>
      {% block sidebar %}
        <ul>
          {% include 'survey/includes/survey_list.html' with surveys=unpublished_surveys title=_('Unpublished Surveys') catid="sidebar_1" %}
          {% include 'survey/includes/survey_list.html' with surveys=published_surveys title=_('Published Surveys') catid="sidebar_2" %}
          {% include 'survey/includes/survey_list.html' with surveys=closed_surveys title=_('Closed Surveys') catid="sidebar_3" %}
        </ul>
    {% endblock %}
    </div>
  </div>

  <div id='content'>
    {% block header %}{% endblock %}
    <div id='main-content'>
      {% block content %}{% endblock %}
    </div>
  </div>

</div>

{% endblock %}
