{% extends "survey/base.html" %}
{% load static from staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/collapse.css' %}" type="text/css" media="screen, projection" />
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type='text/javascript' src="{% static 'js/collapse.js' %}"></script>
<script type='text/javascript'>
  $(function(){
    $( ".accordion" ).collapser(true); 
  });
</script>
{% endblock %}

{% block body %}
<div id='header'>Survey Dashboard</div>

<div id='sidebar'>
  {% block sidebar %}
    <div class = 'header_bar'>Surveys
      <div class = 'header_button'><a href='{% url newsurvey %}'>New</a></div>
    </div>
    
    <ul>
    {% include 'survey/includes/survey_list.html' with surveys=unpublished_surveys title="Unpublished Surveys" catid="sidebar_1" %}
    {% include 'survey/includes/survey_list.html' with surveys=published_surveys title="Published Surveys" catid="sidebar_2" %}
    {% include 'survey/includes/survey_list.html' with surveys=closed_surveys title="Closed Surveys" catid="sidebar_3" %}
    </ul>
  {% endblock %}
</div>

<div id='content'>
  {% block header %}{% endblock %}
  {% block content %}{% endblock %}
</div>

<div class='clear'></div>

{% endblock %}
