<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <title>{% block title %}Survey{% endblock %}</title>
    {% block css %}{% endblock %}
    {% block javascript %}{% endblock %}
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="wrapper"/>
        {% block body %}
          {% block content %}{% endblock %}
        {% endblock %}
    </div>
  </body>
</html>