{% extends "survey/base_with_sidebar.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}


{% block content %}
      <h2>{% trans "HOME" %}</h2>      
          <table class = "dash-table" >
            <tr align="center">
                <td><h3>{% trans "Newest" %}</h3></td>
                <td><h3>{% trans "Most Active" %}</h3></td>
                <td><h3>{% trans "Recently Concluded" %}</h3></td>
            </tr>
            <tr>
                <td>
                    <ol>
                        {% for survey_item in published_surveys|slice:":5" %}
                        <li><a href="{% url 'surveydashboard' survey_item.slug %}">{{ survey_item }}</a></li>
                        {% endfor %}
                    </ol>
                </td>
                <td>
                    <ol>
                        {% for survey_item in active_surveys|slice:":5" %}
                        <li><a href="{% url 'surveydashboard' survey_item.slug %}">{{ survey_item }}</a></li>
                        {% endfor %}                        
                    </ol>
                </td>
                <td>
                    <ol>
                        {% for survey_item in closed_surveys|slice:":5" %}
                        <li><a href="{% url 'surveydashboard' survey_item.slug %}">{{ survey_item }}</a></li>
                        {% endfor %}
                    </ol>
                </td>
            </tr>
            
          </table>
      <br>

    {% if active_surveys.0 %}    
      <p><label class ="description">Most Popular Survey:</label>
      <a href="{% url 'surveydashboard' active_surveys.0.slug %}">{{ active_surveys.0 }}</a></p>      
      <p><label class ="description">Total Ballots cast through the Survey Builder:</label> {{ total_ballots }}</p>
    {% endif %}
{% endblock %}
