{% extends "survey/survey_dashboard.html" %}
{% load static from staticfiles %}

{% block javascript %}
    {{ block.super }}
    <script type='text/javascript' src='{% static "js/reorder.js" %}'></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/reorder.css' %}" />
{% endblock %}

{% block content %}
    <h3>
      Reorder - {{ survey.title }}
      <div class='help-text'>Click and drag the questions to reorder.</div>
    </h3>
    <form action="" method="post" id="order">
        {% csrf_token %}
        <ul id="sortable" class="reorder">
            {% for question in survey.question_set.all %}
                <li class="ui-state-default" name="questions" id="pk_{{ question.pk }}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{ question.message }}</li>
            {% endfor %}
        </ul>
    </form>
{% endblock %}
