{% extends "survey/survey_new.html" %}
{% load static from staticfiles %}

{% block header %}
  <div id='survey-title'>
    <h2>{{ survey.title }}</h2>
  </div>

  <ul class='buttons'>
    <li><a href='{% url surveydashboard survey.slug %}'>General</a></li>
    {% if not survey.is_active and not survey.closed %}
      <li><a href='{% url surveyedit survey.slug %}'>Edit</a></li>
      <li><a href='{% url surveyreorder survey.slug %}'>Reorder</a></li>
    {% endif %}
    <li><a href='{% url surveyresults survey.slug %}'>Results</a></li>
    <li><a href='{% url ballot survey.slug %}'>Ballots</a></li>
  </ul>
{% endblock %}
{% block content %}

  <form>
    <div class="title">
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" value='{{ survey }}'/>
    </div>
    {% include 'survey/includes/question_edit.html' %}
    <div id="new-buttons">
      <button id="new-text-area" type="button" >
        <div class="img-button-text">
          <img src="{% static 'img/add.png' %}" alt="" height="12" /> <span>Multiline Text Box</span>
        </div>
      </button>

      <button id="new-text-box" type="button" >
        <div class="img-button-text">
          <img src="{% static 'img/add.png' %}" alt="" height="12" /> <span>Text Box</span>
        </div>
      </button>

      <button id="new-check-boxes" type="button" >
        <div class="img-button-text">
          <img src="{% static 'img/add.png' %}" alt="" height="12" /> <span>Check Boxes</span>
        </div>
      </button>

      <button id="new-radio-buttons" type="button" >
        <div class="img-button-text">
          <img src="{% static 'img/add.png' %}" alt="" height="12" /> <span>Radio Buttons</span>
        </div>
      </button>

      <button id="new-drop-down-list" type="button" >
        <div class="img-button-text">
          <img src="{% static 'img/add.png' %}" alt="" height="12" /> <span>Drop-Down List</span>
        </div>
      </button>

    </div>
    <div id="submit">
      <button id="submit" type="button">Submit</button>
    </div>

  </form>

{% endblock %}
