{% extends "survey/base_with_sidebar.html" %}
{% load static from staticfiles %}

{% block css %}
{{ block.super }}
<link type='text/css' rel='stylesheet' href='{% static "css/jquery-ui-timepicker-addon.css" %}' />
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type='text/javascript' src='{% static "js/jquery.slider-access.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.timepicker-add-on.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/survey_dashboard.js" %}'></script>
{% endblock %}

{% block header %}
  <div id='survey-title'>
    <h2>{{ survey.title }}</h2>
  </div>

  <ul class='buttons'>
    <li><a href='{% url surveydashboard survey.slug %}'>General</a></li>
    {% if not survey.is_active and not survey.closed %}
      <li><a href='{% url surveyedit survey.slug %}'>Edit</a></li>
    {% endif %}
    <li><a href='{% url surveyresults survey.slug %}'>Results</a></li>
    <li><a href='{% url surveyresults survey.slug %}'>Reports</a></li>
    <li><a href='{% url surveyedit survey.slug %}'>Ballots</a></li>
  </ul>
{% endblock %}

{% block content %}

<ul class='buttons'>
      <li><a href='{% url survey survey.slug %}'>View</a>
    {% if not survey.is_active and not survey.closed %}
      <li><a href='{% url publishsurvey survey.slug %}'>Publish</a></li>
    {% elif not survey.closed %}
      <li><a href='{% url closesurvey survey.slug %}'>Close</a></li>
    {% endif %}
  </ul>

<div class='future-wrapper'>
    {% if survey.start_date and not survey.is_active and not survey.closed %}
      <h2 class='button-header'>Future Publish Date <ul class='buttons'><li><a class='edit-handler' href='#'>Edit</a></li></ul></h2>
      <p>Will be published on {{ survey.start_date }}</p>
    {% elif not survey.is_active and not survey.closed %}
      <h2>Set Future Publish Date</h2>
      <form method='post' action=''>
        {% csrf_token %}
          Future Date: <input type='text' name='future_publish_date' />
          <input type='submit' name='save_publish_date' value='Save Publish Date' />
      </form>
    {% else %}
      <h2>Publish Date</h2>
      {{ survey.start_date }}
    {% endif %}
    <form method='post' action='' class='hidden-form'>
      {% csrf_token %}
      Future Date: <input type='text' name='future_publish_date' />
      <input type='submit' name='save_publish_date' value='Save Publish Date' />
    </form>
</div>

<div class='future-wrapper'>
  {% if survey.end_date and not survey.closed %}
      <h2 class='button-header'>Close Date <ul class='buttons'><li><a class='edit-handler' href='#'>Edit</a></li></ul></h2>
      <p>Will be published on {{ survey.end_date }}</p>
    {% elif not survey.closed %}
      <h2>Set Close Date</h2>
      <form method='post' action=''>
        {% csrf_token %}
          Future Date: <input type='text' name='future_close_date' />
          <input type='submit' name='save_end_date' value='Save Close Date' />
      </form>
    {% else %}
      <h2>Close Date</h2>
      {{ survey.end_date }}
    {% endif %}
    <form method='post' action='' class='hidden-form'>
      {% csrf_token %}
      Future Date: <input type='text' name='future_close_date' />
      <input type='submit' name='save_close_date' value='Save Close Date' />
    </form>
</div>

<a href="{% url qrcode survey.slug %}">Download QR Code</a>

{% endblock %}