{% extends "survey/base.html" %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.mobile.resnet.min.css" />
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile.structure-1.1.0.min.css" /> 
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}
<div data-role="header">
    <h1>{{ survey.title }}</h1>
</div>
<div data-role="content">
    <form action='{% url survey slug=survey.slug %}' method='POST'>
    {% csrf_token %}
    {% for question in survey.question_set.all %}        
        {% if question.type = 'TB' %}
            <label for="q{{ question.pk }}">{{ question }}</label>
            <input type="text" name="q{{ question.pk }}" id="q{{ question.pk }}" value=""/>
        {% endif %}
        
        {% if question.type = 'TA' %}
            <label for="q{{ question.pk }}">{{ question }}</label>
            <textarea id=q{{ question.pk }} name="q{{ question.pk }}" ></textarea>
        {% endif %}
        
        {% if question.type = 'RA' %}
            <fieldset data-role="controlgroup">
                <legend>{{ question }}</legend>
                {% for choice in question.choice_set.all %}
                    <input type ="radio" id="c{{ choice.pk }}" name="q{{ question.pk }}" value="c{{ choice.pk }}"/>
                    <label for="c{{ choice.pk }}">{{ choice }}</label>
                {% endfor %}
            </fieldset>
        {% endif %}
        
        {% if question.type = 'CH' %}
            <div data-role="controlgroup">
                <legend>{{ question }}</legend>
                {% for choice in question.choice_set.all %}
                    <input type ="checkbox" name="q{{ question.pk }}" id="c{{ choice.pk }}" value="c{{ choice.pk }}" />
                    <label for="c{{ choice.pk }}">{{ choice }}</label>
                {% endfor %}
            </div>
        {% endif %}
        
        {% if question.type = 'DD' %}
            <label for="c{{ choice.pk }}" class="select">{{ question }}</label>
            <select id="c{{ choice.pk }}" name="q{{ question.pk }}">
            {% for choice in question.choice_set.all %}
                <option value="c{{ choice.pk }}" />{{ choice }}</option>
            {% endfor %}
            </select>
        {% endif %}

    {% endfor %}
    <input type="submit" value="Submit"/>
    <form>
</div>
{% endblock %}
