{% extends "survey/base_with_sidebar.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block css %}
{{ block.super }}
<link type='text/css' rel='stylesheet' href='{% static "css/jquery.timepicker.css" %}' />
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type='text/javascript' src='{% static "js/ajaxsend.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.timepicker.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/survey_dashboard.js" %}'></script>

{% endblock %}

{% block header %}
  <h2 id='survey-title'>{{ survey.title|upper }}</h2>
  <ul class='tabs'>
    <li><a href='{% url surveydashboard survey.slug %}' 
        {% if current_tab == "survey/survey_dashboard.html" %}
            id="currentTab"
        {% endif %}
    >{% trans "GENERAL" %}</a></li>
    {% if survey.is_unpublished %}
      <li><a href='{% url surveyedit survey.slug %}'
        {% if current_tab == "survey/survey_form.html" %}
            id="currentTab"
        {% endif %}
      >{% trans "EDIT" %}</a></li>
      <li><a href='{% url surveyreorder survey.slug %}'
        {% if current_tab == "survey/reorder.html" %}
            id="currentTab"
        {% endif %}
      >{% trans "REORDER" %}</a></li>
    {% else %}
      <li><a href='{% url surveyresults survey.slug %}'
        {% if current_tab == "survey/results.html" %}
            id="currentTab"
        {% endif %}
      >{% trans "RESULTS" %}</a></li>
    {% endif %}
    {% comment %}<li><a href='{% url ballot survey.slug %}'>BALLOTS</a></li>{% endcomment %}
    {% block extra_tabs %}
      <li>
        <a href='{% url survey survey.slug %}' target ='_blank'>
          {% if survey.is_unpublished %}{% trans "PREVIEW" %}{% else %}{% trans "VIEW" %}{% endif %}
        </a>
      </li>
      <li>
        <a id="clone">{% trans "CLONE" %}</a>
        <div class='hidden' id='clone-form'>
          <table>
            <tr><td></td><td class='error'></td></tr>
            <tr><td>{% trans "New Title:" %}</td><td><input type='text' name='clone' data-url='{% url surveyclone survey.slug %}' /></td></tr>
            <tr><td></td><td><input type='submit' name='submit-clone' value='{% trans "Clone" %}' /></td></tr>
          </table>
        </div>
      </li>
    {% endblock %}
  </ul>
{% endblock %}

{% block content %}

  <h3>
    {% trans "Survey Duration" %}
    <div class='help-text'>{% trans "The date and time for a survey to start and end" %}</div>
  </h3>
  <div id='survey-duration' data-start-date-time='{% firstof survey.start_date %}'>
    {% trans "Start:" %}
    <input type="text" id="start-date" name="start-date" value='{{ survey.start_date|date:"m/d/Y" }}' />
    <input type="text" name="start-time" value='{{ survey.start_date|date:"h:iA" }}' =/>
    {% trans "End:" %}
    <input type="text" id="end-date" name="end-date" value='{{ survey.end_date|date:"m/d/Y" }}' />
    <input type="text" name="end-time" value='{{ survey.end_date|date:"h:iA" }}' />
    <input data-url='{% url surveyduration survey.slug %}' class="button" type="submit" name="set-duration" value="{% trans 'Save Duration' %}" />
  </div>
  <div class='toggle-label'>{% trans "Allow Survey Station:" %} <a class='toggle-button' id='toggle_track' href='{% url surveytrack survey.slug %}'>{{ survey.use_cookies|yesno:_("No,Yes") }}</a></div>


  <a href='{% url qrcode survey.slug %}'>{% trans "Download QR Code" %}</a>

{% endblock %}
