{% extends "survey/survey_dashboard.html" %}
{% load static from staticfiles %}
{% load url from future %}
{% load i18n %}

{% block javascript %}
    {{ block.super }}
    <script type='text/javascript' src='{% static "js/reorder.js" %}'></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/reorder.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/results.css' %}" />
{% endblock %}

{% block content %}
<div data-role="header"> </div>
<div id="navbuttons">
    {% if ballot  != None %}
        <a 
            {% if previous_ballot != None %} href="{% url 'ballot' survey.slug previous_ballot.pk %}" class="left ballot_btn" 
            {% else %} class="left ballot_btn_disabled" {% endif %}  
            data-ajax="false">{% trans "Previous Ballot" %}
        </a>
        <a 
            {% if next_ballot != None %} href="{% url 'ballot' survey.slug next_ballot.pk %}" class="right ballot_btn" 
            {% else %} class="right ballot_btn_disabled" {% endif %}  
            data-ajax="false">{% trans "Next Ballot" %}
        </a>
    {% endif %}
</div>
<div id="main-content" data-role="content" class="clear">
{% if ballot != None %}
    <h3>Ballot ID: {{ ballot.pk }}</h3>
    {% for question, choices in ballot.question_list %}
    <div class="question-number">
        <span>{{ forloop.counter }}</span>
    </div>
        <div class = "result"><h4>{{ question }}</h4></div>
      {% if question.type == 'TB' %}
        {% for choice, answer in choices %}
            {% if answer %}
                <p>{{ choice }}</p>
            {% endif %}
        {% endfor %}
      {% endif %}
      
      {% if question.type == 'TA' %}
        {% for choice, answer in choices %}
            {% if answer %}
                <p>{{ choice }}</p>
            {% endif %}
        {% endfor %}
      {% endif %}
      
      {% if question.type == 'RA' %}
        <fieldset data-role="controlgroup">
            {% for choice, answer in choices %}
              <input type="radio" disabled="disabled" id="c{{ choice.pk }}" name="q{{ question.pk }}" value="c{{ choice.pk }}" {% if answer %}checked="checked"{% endif %} />
              <label for="c{{ choice.pk }}">{{ choice }}</label>
            {% endfor %}
        </fieldset>
      {% endif %}
      
      {% if question.type == 'CH' %}
        <div data-role="controlgroup">
            {% for choice, answer in choices %}
              <input type="checkbox" disabled="disabled" name="q{{ question.pk }}" id="c{{ choice.pk }}" value="c{{ choice.pk }}" {% if answer %}checked="checked"{% endif %} />
              <label for="c{{ choice.pk }}">{{ choice }}</label>
            {% endfor %}
        </div>
      {% endif %}
      
      {% if question.type == 'DD' %}
        <fieldset data-role="controlgroup">
            <select class = "drop_down">
            {% for choice, answer in choices %}
              <option {% if answer %}selected{% endif %}>{{ choice }}</option>
            {% endfor %}
            </select>
        </fieldset>
      {% endif %}


      <br />
<div class="clear"></div>
    {% endfor %}
{% else %}
    <label>{% trans "There are no ballots for this survey." %}</label>
{% endif %}

</div>
{% endblock %}
