{% extends "survey/survey_new.html" %}
{% load static from staticfiles %}

{% block content %}

<a href='{% url index %}'>Go Home</a>
<form>
  <div class="title">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" value='{{ survey }}'/>
  </div>
  {% include 'survey/includes/question_edit.html' %}
  <div id="new-buttons">
    <button id="new-text-area" type="button" ><div class="img-button-text"><img src="{% static 'img/add.png' %}" alt="" height="12" /> <span>Text Area</span></div></button>
    <button id="new-text-box" type="button" ><div class="img-button-text"><img src="{% static 'img/add.png' %}" alt="" height="12" /> <span>Text Box</span></div></button>
    <button id="new-check-boxes" type="button" ><div class="img-button-text"><img src="{% static 'img/add.png' %}" alt="" height="12" /> <span>Check Boxes</span></div></button>
    <button id="new-radio-buttons" type="button" ><div class="img-button-text"><img src="{% static 'img/add.png' %}" alt="" height="12" /> <span>Radio Buttons</span></div></button>
    <button id="new-drop-down-list" type="button" ><div class="img-button-text"><img src="{% static 'img/add.png' %}" alt="" height="12" /> <span>Drop-Down List</span></div></button>
  </div>
  <div id="submit">
    <button id="submit" type="button">Submit</button>
  </div>  
</form>

{% endblock %}