{% extends "survey/base_with_sidebar.html" %}
{% load static from staticfiles %}

{% block css %}
{{ block.super }}
<link type='text/css' rel='stylesheet' href='{% static "css/jquery-ui-timepicker-addon.css" %}' />
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type='text/javascript' src='{% static "js/jquery.slider-access.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.timepicker-add-on.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/ajaxsend.js" %}'></script>
<script type='text/javascript' src='{% static "js/survey_dashboard.js" %}'></script>
<script type='text/javascript'>
  var FUTURE_URL = '{% url surveydashboard survey.slug %}';
</script>
{% endblock %}

{% block header %}
  <div id='survey-title'>
    <h2>{{ survey.title }}</h2>
  </div>
  <ul class='buttons'>
    <li><a href='{% url surveydashboard survey.slug %}' 
        {% if current_tab == "survey/survey_dashboard.html" %}
            id="currentTab"
        {{%endif %}
    >General</a></li>
    {% if not survey.is_active and not survey.closed %}
      <li><a href='{% url surveyedit survey.slug %}'>Edit</a></li>
      <li><a href='{% url surveyreorder survey.slug %}'
        {% if current_tab == "survey/reorder.html" %}
            id="currentTab"
        {{%endif %}
      >Reorder</a></li>
    {% endif %}
    <li><a href='{% url surveyresults survey.slug %}'
        {% if current_tab == "survey/results.html" %}
            id="currentTab"
        {{%endif %}
    >Results</a></li>
    <li><a href='{% url ballot survey.slug %}'>Ballots</a></li>
  </ul>
{% endblock %}

{% block content %}

<ul class='buttons'>
      <li><a href='{% url survey survey.slug %}'>View</a>
    {% if not survey.is_active and not survey.closed %}
      <li><a href='{% url publishsurvey survey.slug %}'>Publish</a></li>
    {% elif not survey.closed %}
      <li><a id='close_survey' href='{% url closesurvey survey.slug %}'>Close</a></li>
    {% endif %}
  </ul>

{% include 'survey/ajax/future_publish.html' %}
{% include 'survey/ajax/future_close.html' %}



<div class = 'toggle-label'>Allow Survey Station: <a class='toggle-button' id='toggle_track' href='{% url surveytrack survey.slug %}'>{{ survey.use_cookies|yesno:"No,Yes" }}</a></div>


<a href="{% url qrcode survey.slug %}">Download QR Code</a>

{% endblock %}
