{% extends "survey/survey_dashboard.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'css/survey_form.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/survey_form.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
    var QUESTION_SOURCES = new Object();
    QUESTION_SOURCES["TA"] = "{% filter escapejs %}{% spaceless %}{% include 'survey/includes/question_textarea.html' %}{% endspaceless %}{% endfilter %}";
    QUESTION_SOURCES["TB"] = "{% filter escapejs %}{% spaceless %}{% include 'survey/includes/question_textbox.html' %}{% endspaceless %}{% endfilter %}";
    QUESTION_SOURCES["CH"] = "{% filter escapejs %}{% spaceless %}{% include 'survey/includes/question_checkbox.html' %}{% endspaceless %}{% endfilter %}";
    QUESTION_SOURCES["RA"] = "{% filter escapejs %}{% spaceless %}{% include 'survey/includes/question_radio.html' %}{% endspaceless %}{% endfilter %}";
    QUESTION_SOURCES["DD"] = "{% filter escapejs %}{% spaceless %}{% include 'survey/includes/question_dropdown.html' %}{% endspaceless %}{% endfilter %}";
  </script>
{% endblock %}

{% block header %}
  {# Only show the header if this is an existing survey (not new) #}
  {% if object.pk %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block content %}
  <h3>
    {% trans "Build A Survey" %}
    <div class="help-text">
      {% trans "Select the question you'd like to make by choosing an option from the toolbox on the right." %}
    </div>
  </h3>
  <form id="survey-form">
    <div id="survey-details">
      <table>
        <tr>
          <td class="field-name">{% trans "Title:" %}</td>
          <td class="field"><input type="text" name="title" id="title" value='{{ survey }}'/></td>
        </tr>

        <tr>
          <td class="field-name">{% trans "Slug:" %}</td>
          <td class="field"><input type="text" name="slug" id="slug" value='{{ survey.slug }}'/></td>
        </tr>
      </table>

      <table>
        <tr><td>{% trans "Description:" %}</td><td></td></tr>
        <tr>
          <td colspan="2">
            <textarea id="description">{{ survey.description }}</textarea>
          </td>
        </tr>

      </table>
    </div>

    {% for question in survey.question_set.all %}
      {% include 'survey/includes/question.html' %}
    {% endfor %}

  </form>

  <!-- TOOLBOX -->
    <div id="toolbox-outer">
      <div id="toolbox">
        <ul>
          <li id="new-text-area"><span>{% trans "Multiline Text Box" %}</span></li>
          <li id="new-text-box"><span>{% trans "Text Box" %}</span></li>
          <li id="new-check-boxes"><span>{% trans "Check Boxes" %}</span></li>
          <li id="new-radio-buttons"><span>{% trans "Radio Buttons" %}</span></li>
          <li id="new-drop-down-list"><span>{% trans "Drop-down List" %}</span></li>
        </ul>
        <ul id="survey-menu">
          <li id="submit"><span>{% trans "Save Survey" %}</span></li>
        </ul>
      </div>
  </div>
  <!-- END TOOLBOX -->

{% endblock %}

