@media (min-width: 50em) {
    #wrapper {
        width: 50em;
        margin: auto;
    }
}
#survey-title ul{
    float:right;
}
.logo{
  margin-left:auto;
  margin-right:auto;
}
.clear{
  clear:both;
}
.button-header ul{
  display:inline-block;
}
.hidden-form{
  display:none;
}
.buttons{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    border-bottom:1px solid #999;
}
.buttons li{
    display: inline;
}
.buttons li a{
    display: inline-block;
    background:#EEE;
    width:80px;
    margin-top: 2px;
    text-decoration:none;
    font-size: 18pt;
}

.toggle-label{
    margin-top: 12px;
    margin-bottom: 12px;
}

.toggle-button{
    display: inline-block;
    background:#EEE;
    width:80px;
    height:24px;
    margin-top: 2px;
    text-align: center;
    text-decoration:none;
    font-size: 16pt;
}

.buttons li a:hover{
    background:#BBB;
}
img#thanks {
    width: 100%;
}
#header{
  background:#ABC;
  width:100%;
  height:65px;
  font-size:33pt;
  padding-top: 15px;
  text-align:center;
}
#sidebar{
  float:left;
  width:28%;
  background:#AAA;
  padding:1%;
}
#sidebar ul{
  list-style-type:none;
}
#sidebar li{
}
#content{
  float:left;
  width:66%;
  background:lightgrey;
  padding:2%;
}

#currentTab{
    background-color: #BBB;
}

#currentTab:hover{
    background-color: #EEE;
}


