@media (min-width: 50em) {
    #wrapper {
        width: 50em;
        margin: auto;
    }
}

#survey-title ul{
    float:right;
}
.logo{
  margin-left:auto;
  margin-right:auto;
}

.button-header ul{
  display:inline-block;
}

.hidden-form{
  display:none;
}

.buttons{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.buttons li{
    display: inline;
}
.buttons li a{
    display: inline-block;
    background:#EEE;
    width:80px;
    height:30px;
    margin-top: 2px;
    text-decoration:none;
    font-size: 0.7em;
}
.buttons li a:hover{
    background:#BBB;
}
