.accordion_sidebar
{
    background-repeat: no-repeat;
    background-color: transparent;
    padding-left: 18px;
    cursor:pointer;
}

.list_reset
{
    padding: 0px;
    margin: 0px;
}

ul
{
    padding: 0px;
    margin: 0px;
}

li
{
    padding-left: 10px;
    list-style-type: none;
}

.accordion
{
    background-image: url("/static/img/expand.png");
}

.expanded 
{
    background-image: url("/static/img/collapse.png");
}
