.result{
  
}
.piegraph{
    width:48%;
    //height:200px;
    padding:1%;
}
table{
  width:100%;
}
tr > td{
  padding:5px;
}
table a{ color:#4E769B; }
table a:hover{ color:#839FB9; }
tr.choice:nth-child(odd){ background-color:#BACD84; }
.result h4{ 
  //float:right;
  //width:91%;
  color:#FFF;
  background-color:#97AE48;
}
tr.choice td:nth-child(1){ width:70% }
tr.choice td:nth-child(2){ width:30% }