#main-content{
  padding-right:0;
}
#toolbox, #toolbox-outer{
  float:right;
  width:220px;
  padding-right:0;
  background-color:#FFF;
  font-weight:bold;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;  
}

#toolbox ul{
    padding: 4%;
}
#toolbox li{
  background-repeat:no-repeat;
  background-image:url('../img/toolbox_icons.png');
  height:30px;
  margin-bottom:10px;
  position:relative;
  cursor:pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#toolbox li:hover {
  background-color:#4E769B;
  color:#FFFFFF;
}
#toolbox li span{
  position:absolute;
  top:8px;
  left:40px;
  text-transform:uppercase;
}
#new-text-area{background-position:0px 0px;}
#new-text-box{background-position:0px -60px;}
#new-check-boxes{background-position:0 -90px;}
#new-radio-buttons{background-position:0 -30px;}
#new-drop-down-list{background-position:0 -120px;}
#submit{
  background-position:0 -150px;
  margin-bottom:0px;
}
form{
  width:68%;
  padding:2% 1%;
  padding-top:0;
  float:left;
  counter-reset:question_count;
}
input[type=text]{
  width:97%;
  padding:1%;
}
textarea{
  width:96%;
  height:50px;
  padding:2%;
  font-size:10pt;
  font-family:helvetica, arial, sans-serif;
  border:1px solid #CCC;
}
#survey-details{
  border-top:2px solid #FFF;
  border-bottom:2px solid #FFF;
  font-size:15pt;
  padding:10px 0;
  margin-bottom:10px;
}
table{
  width:100%;
  border-spacing:2px;
}
.field-name{
  width:11%;
}
tr{
  margin:2px 0;
}
.field{
  width:89%;
}
.question:after {
  content: ".";
  display: block;
  height: 20px;
  clear: both;
  visibility: hidden;
}

.choices{
    width: 90%;
    float: right;
    overflow: auto;
}

.choice{
  width:100%;
  position:relative;
  cursor: move;
}

.message{
  float:right;
  width:90%;
  position:relative;
}
.question-options {
  width:100%;
  text-align:right;
}
.add-choice{
  width:35%;
}
.add-preset{
  margin-left: 1%;
}

.add-choice:hover, .add-preset:hover{
  background-color:#4E769B;
  color:#fff
}
.question-number{
    cursor: move;
}
.question .question-number span:before {
  counter-increment:question_count;
  content:counter(question_count);
}
.question .choice input[type="text"] {
  position:relative;
  left:7%;
  width:90%;
}
.question .choice {
  background-repeat:no-repeat;
  background-image:url('../img/choice_icons.png');
}
.question.radio .choice{background-position:0px 0px;}
.question.checkbox .choice{background-position:0px -33px;}
.question.dropdown .choice{background-position:0px -66px;}

#survey-menu {
  border-top:2px solid #C9DA9E;
  padding-top:10px;
}
.message:hover input[type=text]{width:92%;}
.choice:hover input[type=text]{width:85%;}
.message:hover input[type=text], .choice:hover input[type=text]{
  padding-right:28px;
}
.message:hover .delete, .choice:hover .delete {
  width:20px;
  height:20px;
  position:absolute;
  top:6px;
  right:5px;
  cursor:pointer;
  background-image:url('../img/delete_icon.png');
}

.question-required {
  margin-left:1%;
}

.question-required input {
  display:none;
}

.question-required input:checked + span {
  background-color:#4E769B;
  color:#fff
}

.toggle-button {
  font-size:10pt;
}

.scrolling {
    position: fixed;
    top: 0;
}

.preset-select
{
    width: 98%;
}
