{% block question %}
  <div class="question {% block question_type_class %}{{ question.get_type_display }}{% endblock %}">
    <div class="question-number">
      <span></span>
    </div>
    <div class="message">
      <input type="hidden" name="question-type" value='{% block question_type %}{{ question.type }}{% endblock %}' />
      <input type="text" name="question-message" placeholder="Question" value='{{ question.message }}' />
      <span class="delete" title="Delete this question"></span>
    </div>
    
    {% block question_choices %}
      {% if question.type != 'TA' and question.type != 'TB' %}
        {% for choice in question.choice_set.all %}
          {% include 'survey/includes/question_choice.html' %}
        {% empty %}
          {% include 'survey/includes/question_choice.html' %}
          {% include 'survey/includes/question_choice.html' %}
        {% endfor %}
      {% endif %}
    {% endblock %}
    <div class="question-options">
      {% block question_add_choice %}
        {% if question.type != 'TA' and question.type != 'TB' %}
          <a class="add-choice toggle-button">Add another choice</a>
        {% endif %}
      {% endblock %}
      <label class="question-required">
        <input type="checkbox" name="question-required" {% if question.required %}checked="checked"{% endif %} />
        <span class="toggle-button">Required</span>
      </label>
    </div>
  </div>
{% endblock %}
