{% extends "survey/includes/question.html" %}
{% load i18n %}

{% block question %}
    <div>
        <div class="message likert-message">
        <div class="question-number question-likert"></div>
        <input type="hidden" name="question-type" value='{% block question_type %}{{ question.type }}{% endblock %}' />
        <input type="text" name="likert-message" placeholder="{% trans 'Title (optional)' %}" value='{{ qgroup.message }}' />
        <span class="delete" title="{% trans 'Delete this question' %}"></span>
        </div>
           
    <div class="question question-group likert">
    {% block question_choices %}
      {% with question=question_list|first %}
        {{ block.super }}
      {% endwith %}
    {% endblock %}
    <div class="questions ui-sortable likert-questions">
      {% for question in question_list %}
        {% include 'survey/includes/question.html' with in_group='True' %}
      {% empty %}
        {% include 'survey/includes/question_radio.html' with in_group='True' %}
      {% endfor %}
    </div>
    
    {% block question_options %}
      {% with question=question_list|first %}
        {{ block.super }}
      {% endwith %}
    {% endblock %}
  </div>
    </div>
{% endblock %}

{% block question_add_choice %}
  <a class="add-question-to-group toggle-button">{% trans 'Add Question' %}</a>
  {{ block.super }}
{% endblock %}
