{% load static from staticfiles %}

{% for question in survey.question_set.all %}
  <div class="question">
    <div class="question-number">
     <span>{{ forloop.counter }}</span>
    </div>
    <div class="message">
      <input type="hidden" name="question-type" value='{{ question.type }}' />
      <input type="text" name="question-message" value='{{ question.message }}' />
    </div>
    {% if question.type != 'TA' and question.type != 'TB' %}
      {% for choice in question.choice_set.all %}
        <div class="choice">
          <span class="{{ question.get_type_display }}">{{ question.get_type_display }}</span>
          <input type="text" name="choice-message" value='{{ choice }}' />
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endfor %}
