{% load i18n %}
{% block question %}
  <div class="question {% block question_type_class %}{{ question.get_type_display }}{% endblock %}">
    <div class="question-number">
      <span></span>
    </div>
    <div class="message">
      <input type="hidden" name="question-type" value='{% block question_type %}{{ question.type }}{% endblock %}' />
      <input type="text" name="question-message" placeholder="{% trans 'Question' %}" value='{{ question.message }}' />
      <span class="delete" title="{% trans 'Delete this question' %}"></span>
    </div>
    
    {% block question_choices %}
      {% if not in_group and question.type != 'TA' and question.type != 'TB' %}
        <div class="choices">
          {% for choice in question.choice_set.all %}
            {% include 'survey/includes/question_choice.html' %}
          {% empty %}
            {% include 'survey/includes/question_choice.html' %}
            {% include 'survey/includes/question_choice.html' %}
          {% endfor %}
        </div>
      {% endif %}
    {% endblock %}
    
    {% block question_options %}
      {% if not in_group %}
        <div class="question-options">
          {% block question_add_choice %}
            {% if question.type != 'TA' and question.type != 'TB' %}
              <a class="add-choice toggle-button">{% trans 'Add Choice' %}</a>
              <a class="add-preset toggle-button">{% trans 'Preset Choices' %}</a>
            {% endif %}
          {% endblock %}
          <label class="question-required">
            <input type="checkbox" name="question-required" {% if question.required %}checked="checked"{% endif %} />
            <span class="toggle-button">{% trans 'Required' %}</span>
          </label>
        </div>
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}
